*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */

ul li {
    list-style: none;
    padding: 20px 10px;
}

a {
    text-decoration: none;
    color: rgb(165, 171, 178);
}

a:hover{
    color: orange;
}

.drop-down>ul{
    /* background-color: red; */
    /* border: 1px solid #f2f2f2; */
    box-shadow: 5px 5px 18px #f2f2f2;
}

.d-flex{
    display: flex;
}

.pos-rel{
    position: relative;
}

.pos-abs{
    position: absolute;
}

.col-black{
    color: black;
}

.container-content{
    padding-top: 10px;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.app{
    color: white;
    padding: 10px 25px;
    background-color: #eb008e;
    border-radius: 20px;
}

.left-bar ul li a {
    margin-left: 40px;
}

.logo img {
    max-width: 100px;
    position: relative;
    bottom: 5px;
}

.affiliates::before{
    content: 'Nuovo';
    position: absolute;
    color: #eb008e;
    font-size: 10px;
    right: 2px;
    bottom: 89px;
}

/* visibilità gestita con jquery */
.drop-down{
    display: none;
    left: -10px;

}
